#filtro-busqueda {
  margin: 13px;
}

.hidden {
  display: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.owl-prev {
  left: -40px;
}

.owl-next {
  right: -40px;
}

#separador-hamburguesas {
  background-color: #6b8bc8;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
}

#hamburguesas-carrusel {
  margin: 20px;
  justify-content: center;
  align-items: center;
}

#hamburguesas-carrusel .card {
  justify-content: center;
  align-items: center;
}

#hamburguesas-carrusel img {
  max-width: 550px;
  justify-content: center;
  align-items: center;
}

.boton-agregar,
.boton-ver-mas {
  margin-bottom: 10px;
}

.boton-ver-mas {
  margin-left: 3px;
  margin-top: 15px;
}

#hamburguesas h2,
#veggie h2,
#bebidas h2 {
  color: white;
  font-weight: bold;
}

#veggie,
#bebidas {
  margin-top: 60px;
}

.card {
  margin-bottom: 2px;
  margin-left: 2px;
  margin-top: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000 !important;
}

.extra-card .remove-from-cart {
  font-size: 0.8rem;
  padding: 2px 6px;
  line-height: 1;
}

/* Estilos para los botones de cantidad (- y +) */
.d-flex.align-items-center.mb-2 {
  justify-content: center;
  gap: 5px;
}

/* Botones agregar y eliminar en la fila de botones */
.d-flex.justify-content-center {
  margin-top: 8px;
}

/* Estilo para todos los botones */
.btn {
  font-size: 0.9rem;
}

/* Estilos específicos para los botones de agregar y eliminar */
.add-to-cart,
.remove-from-cart {
  font-size: 0.8rem;
  padding: 4px 8px;
  width: auto;
  margin-left: 10px;
}

.extra-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 50px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-column {
  min-width: 200px;
  max-width: 500px;
}

.extra-card:hover {
  transform: scale(1.05);
}

.extra-card img {
  padding-top: 5px;
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.footer-section {
  background-color: #ebebeb;
  color: #fff;
  padding: 20px 0;
}

.footer-logo {
  max-width: 200px;
  margin: 0 auto;
}

.footer-section p {
  margin: 5px 0;
  color: black;
}

.footer-section a {
  color: #ff7a0d;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.bi-instagram,
.bi-facebook,
.bi-twitter {
  font-size: 1.5rem;
  color: #ff7a0d;
}
