body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
}

.user-controls {
    display: flex;
    gap: 10px;
}

button {
    background-color: #555;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

main {
    padding: 20px;
    text-align: center;
}

.intro {
    margin-bottom: 40px;
}

.image-placeholder {
    width: 300px;
    height: 200px;
    background-color: #ddd;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    margin-bottom: 40px;
}

.map-section {
    margin-bottom: 40px;
}

#map {
    width: 100%;
    height: 300px;
    background-color: #ddd;
}

.footer-section {
    background-color: #ebebeb; /* Fondo claro */
    color: #fff; /* Color de texto blanco */
    padding: 20px 0;
  }
  
  .footer-logo {
    max-width: 200px;
    margin: 0 auto;
  }
  
  .footer-section p {
    margin: 5px 0;
    color: black;
  }
  
  .footer-section a {
    color: #ff7a0d; /* Color dorado para enlaces */
    text-decoration: none;
  }
  
  .footer-section a:hover {
    text-decoration: underline;
  }
  
  .bi-instagram {
    font-size: 1.5rem;
    color: #ff7a0d; /* Color dorado */
  }
  
  .bi-facebook {
    font-size: 1.5rem;
    color: #ff7a0d; /* Color dorado */
  }
  
  .bi-twitter {
    font-size: 1.5rem;
    color: #ff7a0d; /* Color dorado */
  }
  
.nav-link {
    font-weight: bold;
  }
  
.navbar .btn-outline-primary {
    border-color: #007bff;
    color: #007bff;
  }
  
.navbar .btn-outline-primary:hover {
    background-color: #FF7A0D;
    color: #fff;
  }
  