.login-container {
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #f4a261;
}

.login-container .form-control {
  border-radius: 5px;
}
.login-container .btn-primary {
  width: 100%;
  border-radius: 5px;
}

/* Botón principal en el formulario */
.form-container .btn-primary {
  width: 100%;
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  color: #fff;
  margin-top: 30px; /* Añade un margen superior para separar el botón */
  padding: 10px;
  font-size: 16px;
}

.login-container img {
  max-width: 380px;
}

#btn-ingresar {
  margin-top: 10px;
}
header {
  position: sticky;
  top: 0;
  z-index: 1000 !important;
}

.footer-section {
  background-color: #ebebeb; /* Fondo claro */
  color: #fff; /* Color de texto blanco */
  padding: 20px 0;
}

.footer-logo {
  max-width: 200px;
  margin: 0 auto;
}

.footer-section p {
  margin: 5px 0;
  color: black;
}

.footer-section a {
  color: #ff7a0d; /* Color dorado para enlaces */
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.bi-instagram {
  font-size: 1.5rem;
  color: #ff7a0d; /* Color dorado */
}

.bi-facebook {
  font-size: 1.5rem;
  color: #ff7a0d; /* Color dorado */
}

.bi-twitter {
  font-size: 1.5rem;
  color: #ff7a0d; /* Color dorado */
}
