/* Colores de la paleta */
:root {
    --primary-color: #003366; /* Color azul del header */
    --secondary-color: #ff6600; /* Ejemplo de color secundario */
    --background-color: #f1ead0; /* Color crema de fondo */
    --text-color: #000000; /* Color de texto negro */
}

/* Estilo global para el color de texto y fondo */
body {
    color: var(--text-color);
    background-color: var(--background-color);
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    padding: 0.0005rem 4.1rem; /* Reducir tamaño de la barra sin afectar el logo y texto */
}

.navbar .navbar-brand, .navbar-nav .nav-link {
    color: var(--text-color) !important;
}

.navbar .navbar-brand img {
    width: 100px;
}

.navbar-nav .nav-link {
    font-size: 1rem; /* Tamaño de texto uniforme en la navbar */
}

/* Secciones y textos */
h2, h4, h5, p, .card, .footer-section {
    color: var(--text-color);
}

/* Tarjetas de recompensas */
.card {
    padding: 1rem;
    border: 1px solid #ddd;
    margin-top: 1rem;
    background-color: var(--secondary-color);
    text-align: center; /* Centrar el contenido de las tarjetas */
}

.card img {
    display: block;
    margin: 0 auto 10px auto; /* Centrar la imagen */
}

/* Botones uniformes */
.btn {
    width: 100%; /* Hacer que los botones ocupen el ancho completo del contenedor */
    max-width: 150px; /* Tamaño máximo para mantener consistencia */
    padding: 10px; /* Tamaño uniforme de los botones */
    font-size: 1rem;
}

.btn-secondary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
}

.btn-secondary:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Progreso */
.progress-bar {
    background-color: var(--secondary-color);
}

/* Footer */
.footer-section {
    background-color: var(--background-color);
    padding: 20px 0;
    margin-top: 2rem;
}

.footer-section h6, .footer-section p, .footer-section a {
    color: var(--text-color);
}

.text-center-footer {
    text-align: center;
    color: var(--text-color);
    margin-top: 2rem;
}

.footer-section .d-flex a {
    color: var(--text-color);
}
