body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

.user-controls {
  display: flex;
  gap: 10px;
}

button {
  background-color: #555;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

main {
  padding: 20px;
  text-align: center;
}

.intro {
  margin-bottom: 5px;
}

.image-placeholder {
  width: 300px;
  height: 200px;
  background-color: #ddd;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery {
  margin-bottom: 40px;
}

.map-section {
  margin-bottom: 40px;
  margin-top: 40px;
}

#map {
  width: 100%;
  height: 300px;
  background-color: #ddd;
}

.footer-section {
  background-color: #ebebeb; /* Fondo claro */
  color: #fff; /* Color de texto blanco */
  padding: 20px 0;
}

.footer-logo {
  max-width: 200px;
  margin: 0 auto;
}

.footer-section p {
  margin: 5px 0;
  color: black;
}

.footer-section a {
  color: #007bff; /* Color dorado para enlaces */
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.bi-instagram {
  font-size: 1.5rem;
  color: #007bff; /* Color dorado */
}

.bi-facebook {
  font-size: 1.5rem;
  color: #007bff; /* Color dorado */
}

.bi-twitter {
  font-size: 1.5rem;
  color: #007bff; /* Color dorado */
}

.nav-link {
  font-weight: bold;
}

.navbar .btn-outline-primary {
  border-color: #007bff;
  color: #007bff;
}

.navbar .btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}
.our-burgers {
  width: 100%;
  overflow: hidden;
}

/* Contenedor de cada sección de hamburguesas */
.burger-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ocupa la altura completa de la ventana */
  position: relative;
  overflow: hidden;
}

/* Estilo del texto */
.burger-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  z-index: 2;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  border-radius: 5px;
  margin: 2%;
}

.principal-text h2{
  color: white;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  margin: 2%;
  font-size: 100px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.principal-text p{
  color: white;
  text-align: center;
  border-radius: 5px;
  margin: 2%;
  font-size: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  font-weight: bolder;
}

/* Estilo de la imagen */
.burger-image {
  position: absolute;
  width: 60%;
  height: 80%;
  background-position: center;
  background-size: cover;
  z-index: 1;
}

/* Estilo para la imagen específica */
.burger-image img {
  width: 60%;
  height: 80%;
  object-fit: cover;
  transition: transform 0.8s ease-out;
  border: 5px;
  border-color: white;
  border-style: solid;
}

/* Cuando la clase 'active' está presente y la dirección es 'derecha' */
.burger-section.active .burger-text.derecha {
  opacity: 1;
  transform: translateX(0%); /* Se mueve del centro hacia la derecha */
}

/* Cuando la clase 'active' está presente y la dirección es 'izquierda' */
.burger-section.active .burger-text.izquierda {
  opacity: 1;
  transform: translateX(-100%); /* Se mueve del centro hacia la izquierda */
}

.burger-section.active .burger-image img {
  transform: scale(1.05); /* Zoom suave en la imagen al hacer scroll */
  opacity: 1;
}

.principal {
  background: url(../imgs/principal.png) no-repeat fixed;
  background-size: cover;
  margin-bottom: 5px;
}

.intro {
  background: url(../imgs/restaurant_2.jpg) no-repeat fixed;
  background-size: cover;
}

.nudo {
  background: url(../imgs/restaurant.jpg) no-repeat fixed;
  background-size: cover;
}
