.login-container {
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.login-container .form-control {
  border-radius: 5px;
}
.login-container .btn-primary {
  width: 100%;
  border-radius: 5px;
}

.login-container img {
  max-width: 250px;
}
#btn-ingresar {
  margin-top: 10px;
}

/* Login container styles */
.login-container {
  align-items: center;
  justify-content: center;
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #ffffff;
}

.login-container .form-control {
  border-radius: 5px;
}

.login-container .btn-primary {
  width: 100%;
  border-radius: 5px;
}

#btn-ingresar {
  margin-top: 10px;
}
