#filtro-busqueda {
  margin: 20px;
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #333;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  border-radius: 100%;
  cursor: pointer;
}

.owl-prev {
  left: -40px;
}

.owl-next {
  right: -40px;
}

#separador-hamburguesas {
  background-color: #6b8bc8;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; /* Asegura que el texto esté centrado */
  width: 100%; /* Asegura que el contenedor tome el ancho completo */
  margin: 0 auto; /* Centra el contenedor si tiene un ancho fijo */
}
#separador-hamburguesas h2 {
  /* Asegúrate de que tu texto esté en un elemento adecuado */
  margin: 0; /* Elimina cualquier margen en el texto */
  padding: 0;
}

#hamburguesas-carrusel {
  margin: 20px;
  margin-bottom: 0px;
  justify-content: center;
  align-items: center;
}
.card img {
  width: 100%;
  height: auto; /* Mantiene la proporción de la imagen */
}

#hamburguesas-carrusel .card {
  justify-content: center;
  align-items: center;
}

#hamburguesas-carrusel img {
  max-width: 550px;
  justify-content: center;
  align-items: center;
}

.boton-agregar,
.boton-ver-mas {
  margin-bottom: 10px;
}

.boton-ver-mas {
  margin-left: 3px;
  margin-top: 15px;
}

#hamburguesas h2,
#veggie h2,
#bebidas h2 {
  color: white;
  font-weight: bold;
}

#veggie,
#bebidas {
  margin-top: 60px;
}

.card {
  margin-left: 2px;
  margin-top: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000 !important;
}

.extra-card .remove-from-cart {
  font-size: 0.8rem;
  padding: 2px 6px;
  line-height: 1;
}

/* Estilos para los botones de cantidad (- y +) */
.d-flex.align-items-center.mb-2 {
  justify-content: center;
  gap: 5px;
}

/* Botones agregar y eliminar en la fila de botones */
.d-flex.justify-content-center {
  margin-top: 8px;
}

/* Estilo para todos los botones */
.btn {
  font-size: 0.9rem;
}

main .btn {
  max-width: 100%; /* Hacer que los botones ocupen el ancho completo del contenedor */
  margin-top: 5px;
  max-width: 150px; /* Tamaño máximo */
  border: 1px solid #0f0e0e;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
  background-color: var(--button-color); /* Color azul personalizado */
}

main .btn {
  background-color: #3b73d7; /* Ajuste de hover para un tono más claro */
}

.card-body img {
  max-height: 350px;
}

.extra-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin-bottom: 50px;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-column {
  min-width: 200px;
  max-width: 500px;
}

.card-body:hover {
  transform: scale(1.05);
}

.card-body img {
  max-width: 75px;
  max-height: 350px;
}

#btn-busqeda {
  border-color: #007bff;
  color: #007bff;
  margin-left: 4px;
}

#btn-busqeda:hover {
  background-color: #ff7a0d;
  color: #fff;
}
.extra-card img {
  padding-top: 5px;
  max-width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.footer-section {
  background-color: #ebebeb;
  color: #fff;
  padding: 20px 0;
}

.footer-logo {
  max-width: 200px;
  margin: 0 auto;
}

.footer-section p {
  margin: 5px 0;
  color: black;
}

.footer-section a {
  color: #ff7a0d;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

.bi-instagram,
.bi-facebook,
.bi-twitter {
  font-size: 1.5rem;
  color: #ff7a0d;
}
