/* Colores base */
body {
  background-color: white;
  font-family: Arial, sans-serif;
}

h2,
h3 {
  color: #007bff;
}

/* Estilos para los combos */
.card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
}

.card-body {
  background-color: #007bff;
  color: white;
  border-radius: 8px;
}

.card-body p {
  font-weight: bold;
}

/* Secci贸n de Descuentos */
section {
  background-color: #007bff;
  color: white;
  padding: 2rem;
  border-radius: 8px;
  margin-top: 2rem;
}

section h2 {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}

section .d-flex img {
  width: 40px;
  height: 40px;
}

section .d-flex h5 {
  font-weight: bold;
  color: white;
}

section .d-flex p {
  color: white;
}

/* Secci贸n "C贸mo obtener puntos" */
.points-section {
  background-color: #007bff;
  color: white;
  padding: 2rem;
  margin-top: 2rem;
  text-align: center;
}

.points-section h2 {
  color: white;
}

.points-section p {
  margin-top: 0.5rem;
  color: white;
}

#descuentos img {
  color: white;
}
/* Informaci贸n del perfil */
.profile-info {
  background-color: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 2rem;
}

.profile-info h4 {
  color: #007bff;
}

.profile-info p {
  color: #666;
}
